
ZoomNavigationTransition/ZoomNavigationTransition.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ZoomNavigationTransition/ZoomNavigationTransition.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ZoomNavigationTransition/ZoomNavigationTransition.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
ZoomNavigationTransition/ZoomNavigationTransition.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
